.cardBackground {
  padding: 1rem;
  margin: 2rem auto;
  width: 75rem;
  max-width: 95%;
  height: 38rem;
  overflow-y: auto;
  overflow-x: hidden;
  color: white;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.11);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  
}

/* ===== Scrollbar CSS ===== */

  /* Chrome, Edge, and Safari */
  .cardBackground::-webkit-scrollbar {
    width: 16px;
  }

  .cardBackground::-webkit-scrollbar-track {
    background: #ffffff;
  }

  .cardBackground::-webkit-scrollbar-thumb {
    background-color: #8f54a0;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
